
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackeriet / Humla doorbell</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

  </head>
  <body>
    <!--script src="http://code.jquery.com/jquery-latest.js"></script-->
    <!--script src="js/bootstrap.min.js"></script-->
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hackeriet doorbell</h1>
        <p>This page lets you ring the doorbell at Humla when <a href="http://hackeriet.no">Hackeriet</a> is gathering. It makes noise and stuff. Maybe someone will hear it :-)</p>
        <p><a class="btn btn-primary btn-large">Ring it &raquo;</a><!-- create alt="ringBell or similar" --></p>
      </div>
      <div class="row">
	<p>{{ knockresponse }}</p>
      </div>
    </div>
  </body>
</html>

