{% extends "layout.html" %}
{% block body %}
      <div class="hero-unit">
        <h2>Hackeriet doorbell</h2>
        <p>This page lets you ring the doorbell at Humla when <a href="http://hackeriet.no">Hackeriet</a> is gathering.</p>
        <p>The door was already knocked &lt;2 minutes ago. Please wait a little bit before trying again.</p>
        <p class="result" id="result">Result: Too soon!</p>
        <p><a class="btn btn-primary btn-large" href="/">Reload &raquo;</a></p>
      </div>
{% endblock %}

